<IfModule mod_headers.c>
    # Permite acesso de qualquer origem em desenvolvimento
    Header set Access-Control-Allow-Origin "*"
    # Permite os métodos necessários
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, PATCH, OPTIONS"
    # Permite os cabeçalhos personalizados (Content-Type, Authorization, apikey)
    Header set Access-Control-Allow-Headers "Content-Type, Authorization, apikey"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Define o caminho base da sua API
    # IMPORTANTE: Isso deve bater com a sua URL
    RewriteBase /dogpedia-backend/dogpedia-backend/src/

    # Redireciona requisições que NÃO são arquivos ou pastas reais
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Envia tudo para o index.php
    RewriteRule . index.php [L]

</IfModule>
